@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
 margin: 0;
}

body {
    font-family: 'Oswald';
    background-color: black;
}

/* Header Section */

header {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(12, 49, 12);
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}


nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    gap: 5%;
    margin-bottom: 1cqh;
}

nav a {
    color: green;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: cell;
}

nav a:hover {
    font-size: 2rem;
    color: white;
    text-shadow: rgb(3, 211, 3) 2px 2px 2px;
}

.name {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    padding: 0 3% 0 25%;
    margin-top: 3cqh;
    margin-bottom: 3cqh;
}

.name h2 {
    color:white;
    font-size: 5.5rem;
}
/* Quote section */

main {
    background-color: black;
    margin: 0 5% 0 5%;
}

.background {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-image: url(./images/background.jpg);
    height: 22vh;
}


.quote {
    display: flex;
    align-items: center;
    background-color: black;
    color: rgb(207, 207, 207);
    padding: 0% 13% 0% 3%;
    margin-top: 8cqh;
    margin-bottom: 8cqh;
}

.quote h2 {
    color: white;
    font-size: 2rem;
}

/* About me section */

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    /* border: 1px solid red; */
}

.title-about-me {
    color:rgb(207, 207, 207);
    padding-right: 2rem;
    margin-right: 2rem;
    border-right: 5px solid rgb(12, 49, 12);
    height: 15rem;
    /* border: 1px solid red; */
}

.info {
    font-size: 1.6rem;
    color: rgb(207, 207, 207);
    margin: 2rem;
    text-indent: 50px;
}

/* work section */

.work {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.title-work {
    color: rgb(207, 207, 207);
    align-self: flex-start;
    padding-right: 2.6rem;
    margin-right: 2rem;
    border-right: 5px solid rgb(12, 49, 12);
    height: 30rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* border: 1px solid red; */
    margin: 0 2rem 2rem 2rem;
    width: 100%;
    height: 100%;
}


.big-card {
    display: flex;
    /* border: 1px solid red; */
    height: 700px;
    width: 100%;
    flex: 100%;
    margin: 0 1rem 1rem 1rem;
    background: url(./images/Refactor.jpg) center/cover;
}

.big-card a {
    all: unset;
    align-self: flex-end;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    margin-bottom: 3%;
    margin-left: 3%;
    height: 3rem;
    width: 10rem;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    border: ridge;
    background-image: url(./images/background.jpg);
    cursor: pointer;
}

.big-card a:hover {
    box-shadow: rgb(2, 151, 2) 3px 3px 5px 3px;
    transition: 500ms;
}



.small-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    /* border: 1px solid red; */
    width: 100%;
}

.card {
    /* border: 1px solid red; */
    height: 10rem;
    width: 20rem;
    background: url(./images/Coming\ soon.jpg) center/cover;
}



/* Footer */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(12, 49, 12);
    width: 100%;
}

footer h1 {
    color: white;
    justify-self: flex-start;
}

footer a {
    color: green;
    font-size: 1.5rem;
    text-decoration: none;
    gap: 1rem;
}

footer a:nth-child(n+4):hover {
    font-size: 2rem;
    color: white;
    text-shadow: rgb(3, 211, 3) 2px 2px 2px;
}

footer a:nth-child(-n+3):hover {
    cursor: default;
}

/* @media screen and (max-width: 675px) {
    .small-cards {
        flex-flow: column wrap;
    }
} */