@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
 margin: 0;
}

body {
    font-family: 'Oswald';
}

/* Header Section */

header {
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}


nav {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    gap: 10%;
    margin-bottom: 1cqh;
}

nav a {
    font-size: 1.5rem;
}

.name {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0 3% 0 25%;
    margin-top: 3cqh;
    margin-bottom: 3cqh;
}

.name h2 {
    font-size: 5.5rem;
}
/* Quote section */

main {
    margin: 0 0 0 10%;
}

.background {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-image: url(./images/background.jpg);
    height: 22vh;
}


.quote {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0% 13% 0% 4%;
    margin-top: 8cqh;
    margin-bottom: 8cqh;
}

.quote h2 {
    font-size: 2rem;
}

/* About me section */

.about-me {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    border: 1px solid red;
}

.title-about-me {
    padding-right: 2rem;
    margin-right: 2rem;
    border-right: 1px solid black;
    height: 15rem;
    border: 1px solid red;
}

.info {
 margin: 2rem;
 border: 1px solid red;
}

/* work section */

.work {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid red;
}

.title-work {
    align-self: flex-start;
    padding-right: 2.6rem;
    margin-right: 2rem;
    border-right: 1px solid black;
    height: 30rem;
    border: 1px solid red;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border: 1px solid red;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 28rem;
}


.big-card {
    box-sizing: border-box;
    border: 1px solid red;
    height: 400px;
    width: 400px;
    flex: 100%;
    margin: 1rem;
}

.small-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    gap: 50%;
    margin: 1rem;
}

.card {
    box-sizing: border-box;
    border: 1px solid red;
    height: 100px;
    width: 600px;
    flex: 1;
}



/* Footer */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blueviolet;
}

footer h1 {
    justify-self: flex-start;
}

@media screen and (max-width: 675px) {
    .small-cards {
        flex-flow: column wrap;
    }
}